name: '[Workflow] On Source Change'

concurrency:
  group: push-${{ github.ref_name }}

on:
  push:
    branches:
      - 'main'
      - 'development'
    paths:
      - 'ops/**'
      - 'src/**'
      - '.releaserc.json'
      - '.github/workflows/on_source_change.yml'
  # We need this due to a bug in GitHub Actions where a merge to main does not trigger push on path filter
  # See: https://github.com/orgs/community/discussions/179965
  pull_request:
    branches:
      - 'main'
    types:
      - closed

jobs:
  static-analysis:
    name: 'Static Analysis'
    if: >
      always()
      && (github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true))
    uses: webgrip/workflows/.github/workflows/application-static-analysis.yml@main

  test:
    name: 'Test'
    needs: [static-analysis]
    if: >
      always()
      && needs.static-analysis.result == 'success'
    uses: webgrip/workflows/.github/workflows/application-test.yml@main

  release:
    name: 'Release'
    needs: [static-analysis, test]
    if: >
      always()
      && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/development')
      && needs.static-analysis.result == 'success'
      && needs.test.result == 'success'
    uses: webgrip/workflows/.github/workflows/application-release.yml@main
    secrets:
      WEBGRIP_CI_APP_ID: ${{ secrets.WEBGRIP_CI_APP_ID }}
      WEBGRIP_CI_APP_PRIVATE_KEY: ${{ secrets.WEBGRIP_CI_APP_PRIVATE_KEY }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}

  deploy:
    name: 'Deploy'
    uses: webgrip/workflows/.github/workflows/application-deploy.yml@main
    needs: [static-analysis, test, release]
    if: >
      always()
      && github.ref == 'refs/heads/main'
      && needs.static-analysis.result == 'success'
      && needs.test.result == 'success'
      && needs.release.result == 'success'
      && needs.release.outputs.version != ''
    secrets:
      DIGITAL_OCEAN_API_KEY: ${{ secrets.DIGITAL_OCEAN_API_KEY }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
    with:
      version: ${{ needs.release.outputs.version }}
      environment: 'staging'

  deploy-secrets:
    name: 'Deploy Secrets'
    uses: webgrip/workflows/.github/workflows/application-deploy-secrets.yml@main
    if: >
      always()
      && (github.event_name == 'push' && github.ref == 'refs/heads/main' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true))
    secrets:
      DIGITAL_OCEAN_API_KEY: ${{ secrets.DIGITAL_OCEAN_API_KEY }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
